@value makerGreen,makerLightGrey from '../../common/colors.css';
@value mediaQuery: 62rem;

.editor{
    flex-basis:50%;
    color:makerGreen;
    padding:0.5em 2em;
    border-right: 1px solid makerLightGrey;
}

@media screen and (max-width:mediaQuery) {
    .editor{
border-right: none;
border-bottom:1px solid makerLightGrey;
    }
}